$revel-blue: #00a3e0; 
$revel-night: #373b40;
$font-family: proxima-nova,Helvetica Nue,Helvetica,Arial sans-serif;

body {
	font-family: proxima-nova,Helvetica Nue,Helvetica,Arial sans-serif;
	margin:0;
	padding:0;
	font-weight: 100;
}
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;

}
img {
	margin-right: 10px;
}
header {
	a.navbar-brand {
	margin: 10px 0px;
	display: block;
    width: 108px;
    height: 40px;
    text-indent: -9999em;
    background: url(../-/images/logo.svg) no-repeat;

	}
	.navbar-default {
		border-bottom: thin solid $revel-blue;
	}
}

p {
	font-family: $font-family;
	font-size: 18px;
}

#hero, #final-cta {
	margin-top: 50px;
	text-align: center;
    position: relative;
    overflow: hidden;
    background-color: rgba(55,59,64,.12);
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	display: block;

	p {
		margin: 40px 0px;
	}
	a.watch-video {
		display: block;
		margin: 40px 0px 95px;
		font-size: 24px;
		font-weight: 100;
	}

	.hero-overlay-dark {
		background-color: rgba(0,0,0,.66);
		position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 0;
	}

	.value-proposition {
		padding-top: 108px;

		h1, p {
			color: white;
		}
		h1 {
			font-size: 50px;
			font-weight: 100;
		}
		p {
			font-size: 18px;
			font-weight: 100;
		}
	}
	.marketo-form-outer {
		background-color: rgba(0, 0, 0, 0.5);
		position: relative;
		padding-top: 30px;
		padding-bottom: 30px;

		.mktoForm {
			width: 100% !important;
			.mktoFormRow {
				display: inline-block;
				.mktoFormCol {
					width: 200px;
					margin-bottom: 0 !important;
					display: inline-block;
					margin-left: 10px;	
				}
			}
			.mktoButtonRow {
				display: inline-block;

				.mktoButtonWrap {
					margin-left: 0px !important;
				}
			}
		}
	}

}
.two-up {
	padding: 100px 0px; 
	border-bottom: thin solid #ebebeb;
	h2 {
		font-size: 30px;
		font-weight: 100;
		color: $revel-blue;
	}
	p {
		margin-top: 30px;
	}

}
.grey-center {
	background-color: #ebebeb;
	padding: 100px 0px;
	h2 {
		font-weight: 100;
	}
}
.full-frame-video {

	.embed-responsive {
	  position: relative;
	  display: block;
	  height: 0;
	  padding: 0;
	  overflow: hidden;
	}
	.embed-responsive .embed-responsive-item,
	.embed-responsive iframe,
	.embed-responsive embed,
	.embed-responsive object,
	.embed-responsive video {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  border: 0;
	}
	.embed-responsive-16by9 {
	  padding-bottom: 56.25%;
	}
	.embed-responsive-4by3 {
	  padding-bottom: 75%;
	}
	
}
#customer-testimonial {
	background-image: url('../-/images/CustomerQuote_Image_Desktop_3.jpg');
	min-height: 480px;
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	padding: 150px;	
	position: relative;
    overflow: hidden;
	p {
		color: white;
		font-size: 24px;
		font-family: $font-family;
		font-weight: 100;
		text-align: center;
	}
	.customer-overlay {
		    background-color: rgba(0, 0, 0, 0.66);
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    z-index: 0;
		}
	
}
#final-cta {
	background-color: #00a3e0;
	color: white;
	padding: 100px 0px 0px;
	margin-top: 0px;
	h2 {
		font-weight: 100;
		font-family: $font-family;
	}
	.marketo-form-outer {
		margin-top: 100px;
	}
}
footer {
	padding: 100px 0px;

	table {
		width: 100%;
		margin-bottom: 35px;
		th {
			font-family: $font-family;
			font-size: 12px;
			font-weight: 700;
			padding: 5px 0px;
		}
		td {
			font-family: $font-family;
			font-size: 12px;
			font-weight: 100;
			padding: 5px 0px;
		}
	}
	p {
		font-weight: 100;
		font-size: 12px;
		font-family: $font-family;
	}
}